.navbar {
  margin-bottom: 0;
}

.bordered {
border: 1px dashed black;
background-color: #eee;
}

#emptybox{
  height: 400px;
  text-align: center;
}

#emptytext{
  margin-top: 60px;
}

img{
  height: 200px;
  width: 170px;
  align-content: center;
}

body{
  background-image: url("http://www.cfau-pd.net/images/black-background-image/black-background-image-9.jpg");
}
