
<div class="add-todo-form text-center">
  <h1>What needs to be done?</h1>
  <h3>Total number of tasks: {{todos.length}}</h3>
  <div class="form-group">
    <input class="form-control input-lg" placeholder="add todos..." autofocus #newtodo>
    <br>
    <button (click)="addTodo(newtodo, isCompleted)" class="btn btn-primary btn-block">Create</button>
  </div>
</div>


<!-- This div will always be hidden as long there is no todos, hence hiden when todos.length > 0 -->
<div class="todo-list">
    <div class="alert-info text-center"[hidden]="todos.length > 0">
      <h2>it's empty!</h2>
    </div>


    <div *ngFor="let todo of todos">
    <div class="col-md-1">
    <input type="checkbox" [(ngModel)]="todo.isCompleted">
    </div>

    <div class="col-md-7">
         <span class="done-{{todo.isCompleted}}">{{todo.text}}</span>
    </div>

    <div class="col-md-4 btns">
        <input type="button" class="btn btn-danger pull-right" (click)="removeTodo(todo)" value="Delete">
    </div>
  </div>
